$twitterColor: #50b7f5;
$twitterBackgroundColor: #e6ecf0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin: auto 0 auto 0;
    padding: 0 10px;

}

.sidebar {
    border-right: 1px solid $twitterBackgroundColor;
    flex: .2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .fa-twitter {
        color: $twitterColor;
        font-size: 30px;
        padding-left: 20px;
    }

    .sidebarOption {
        display: flex;
        align-items: center;
        cursor: pointer;
        
        &:hover {
            background-color: $twitterBackgroundColor;
            border-radius: 30px;
            color: $twitterColor;
            transition: color 100ms ease-out;
        }
        
        h2 {
            font-weight: 800;
            font-size: 20px;
            margin-right: 20px;   
        }
        
        &.active {
            color: $twitterColor;
        }
        
        .material-symbols-outlined {
            padding: 20px;
        }
    }

    .sidebar_tweet {
        width: 100%;
        background-color: $twitterColor;
        border: none;
        color: white;
        font-weight: 900;
        border-radius: 30px;
        height: 50px;
        margin-top: 20px;
    }
}

.feed {
    flex: .5;
    border-right: 1px solid $twitterBackgroundColor;
    min-width: fit-content;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
    
    .feed_header {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 100;
        border: 1px solid $twitterBackgroundColor;
        padding: 15px 20px;

        h2 {
            font-size: 20px;
            font-weight: 800;
        }
    }

    .tweetBox {
        padding-bottom: 10px;
        border-bottom: 8px solid $twitterBackgroundColor;
        padding-right: 10px;


        form {
            display: flex;
            flex-direction: column;
        }
        
        .tweetBox_input {
            display: flex;
            padding: 20px;

            input {
                flex: 1;
                margin-left: 20px;
                font-size: 20px;
                border: none;
                outline: none;
            }

            img {
                border-radius: 50%;
                height: 40px;
            }
        }
    }
}











