$twitterColor: #50b7f5;
$twitterBackgroundColor: #e6ecf0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    
    &:hover {
        background-color: $twitterBackgroundColor;
        border-radius: 30px;
        color: $twitterColor;
        transition: color 100ms ease-out;
    }
    
    h2 {
        font-weight: 800;
        font-size: 20px;
        margin-right: 20px;   
    }
    
    .material-icons {
        padding: 20px;
    }

    .fa-twitter {
        padding: 20px;
    }
}



