$twitterColor: #50b7f5;
$twitterBackgroundColor: #e6ecf0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin: auto;
    padding: 0 10px;

}

.sidebar {
    border-right: 1px solid $twitterBackgroundColor;
    flex: .2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .fa-twitter {
        color: $twitterColor;
        font-size: 30px;
        padding-left: 20px;
    }

    .sidebarOption {
        display: flex;
        align-items: center;
        cursor: pointer;
        
        &:hover {
            background-color: $twitterBackgroundColor;
            border-radius: 30px;
            color: $twitterColor;
            transition: color 100ms ease-out;
        }
        
        h2 {
            font-weight: 800;
            font-size: 20px;
            margin-right: 20px;   
        }
        
        &.active {
            color: $twitterColor;
        }
        
        .material-symbols-outlined {
            padding: 20px;
        }
    }

    .sidebar_tweet {
        width: 100%;
        background-color: $twitterColor;
        border: none;
        color: white;
        font-weight: 900;
        border-radius: 30px;
        height: 50px;
        margin-top: 20px;
    }
}

.feed {
    flex: .5;
    border-right: 1px solid $twitterBackgroundColor;
    min-width: fit-content;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
    
    .feed_header {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 100;
        border: 1px solid $twitterBackgroundColor;
        padding: 15px 20px;

        h2 {
            font-size: 20px;
            font-weight: 800;
        }
    }

    .tweetBox {
        padding-bottom: 10px;
        border-bottom: 8px solid $twitterBackgroundColor;
        padding-right: 10px;


        form {
            display: flex;
            flex-direction: column;
        }
        
        .tweetBox_input {
            display: flex;
            padding: 20px;

            input {
                flex: 1;
                margin-left: 20px;
                font-size: 20px;
                border: none;
                outline: none;
            }

            img {
                border-radius: 50%;
                height: 40px;
            }
        }

        .tweetButton {
            background-color: $twitterColor;
            border: none;
            color: white;
            font-weight: 900;
            border-radius: 30px;
            width: 80px;
            height: 40px;
            margin-top: 20px;
            margin-left: auto;
        }
    }

    .post {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid $twitterBackgroundColor;
        padding-bottom: 10px;

        .avatar {
            padding: 20px;

            img {
                border-radius: 50%;
                height: 40px;
            }
        }

        .post_body {
            flex: 1;
            padding: 10px;

            img {
                width: 450px;
                object-fit: contain;
                border-radius: 20px;
            }

            .post_header {

                .post_headerText {

                    h3 {
                        font-size: 15px;
                        margin-bottom: 5px;
                    }

                    .post_headerSpecial {
                        font-weight: 600;
                        font-size: 12px;
                        color: gray;

                        .post_badge {
                            font-size: 20px !important;
                            color: $twitterColor;
                            margin-right: 5px;
                        }
                    }
                }

                .post_headerDescription {
                    margin-bottom: 10px;
                    font-size: 15px;

                }
            }

            .post_footer {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
            }
        }
    }
}

.widgets {

    .widgets_input {
        display: flex;
        align-items: center;
        background-color: $twitterBackgroundColor;
        padding: 10px;
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 20px;

        input {
            border: none;
            background-color: $twitterBackgroundColor;
            outline: none;
        }

        .widgets_searchIcon {
            color: gray;
        }
    }

    .widgets_widgetContainer {
        margin-top: 15px;
        margin-left: 20px;
        padding: 20px;
        background-color: #f5f8fa;
        border-radius: 20px;

        h2 {
            font-size: 18px;
            font-weight: 800;
        }
    }
}











